@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }
  *:not(i) {
    font-family: "Poppins", sans-serif;
  }

  

.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  padding-top: 120px;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  cursor: pointer;
  font-size: 1.4rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-radius: 25px;
}

.accordion i {
  font-size: 1.6rem;
}

.active,
.accordion:hover {
  background-color: #dae8f3;
  border-radius: 25px;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #ffffff;
  display: none;
}
.pannel p {
  margin-top: 15px;
  font-size: 1.4rem;
  line-height: 1.4;
}

.pannel ul {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 1.4rem;
    line-height: 1.4;
  }

.pannel a {
    text-decoration: none;
    color: #71a9d5;
  }

.faq {
  margin: 10px 0;
}
.faq.active {
  border: none;
}
